*{
    padding:0px;
    margin:0px;
    border:border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    height:60px;
    display: flex;
    justify-content: center;align-items: center;
    background-color: #1D2D44;
    font-size: larger;
    color:white;
    font-weight:800;
}
main{
    height: 635px;
    background-color: #F0EBD8;
    display: flex;
    justify-content: center;align-items: center;
}
input{
    height:25px;
    width:300px;
    border-radius: 5px;
    border: 2px groove;
}
a{
    text-decoration: none;
}
.regbox{
    background-color: white;
    height:500px;
    width:400px;
    border:1px outset;
    display: flex;flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.regmsg{
    display: flex;justify-content: center;align-items: center;
    width:100%;
    height:70px;
    background-color: #1D2D44;
    color:white;
}
.log{
    position: relative;
    bottom:50px;
}
.username{
    position: relative;
    bottom:40px;
}
.password{
    position: relative;
    bottom:80px;
}
.regbutton{
    display: flex;
    justify-content: center;align-items: center;
}
.regbutton button{
    position: relative;
    bottom:20px;
    width: 100px;
    height:30px;
    background-color: #1D2D44;
    font-size: 1.2rem;
    color:white;
    font-weight:700;
    border:none;
    border-radius:5px ;
}